@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       role="button"
       data-bs-toggle="dropdown"
       id="nav-dropdown"
       aria-expanded="false">
        Pizze
    </a>
    <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Pizza" asp-action="List"
                   asp-route-categoryId="@category.CategoryId"
                   class="dropdown-item">
                    @category.Name
                </a>
            </li>
        }
    </ul>
</li>