@using PizzaShop.ViewModels
@model PizzaManagerViewModel

<div class="mt-3">
    <h3 class="d-flex justify-content-center">Vase licne pice:</h3>
    <form asp-controller="Pizza" asp-action="PizzaBuilder" method="post" role="form">
        <input type="submit" class="btn btn-secondary" value="Napravi jos po koju" />
    </form>
</div>

<div class="mt-5">
    <table class="table table-bordered table-striped mt-3">
        <tr style="background-color:#a593c2">
            <th>Ime pizze</th>
            <th>Sastojci</th>
            <th>Cena</th>
            <th></th>
        </tr>
        @{
            foreach (var pizza in Model.Pizzas)
            {
                <tr style="background-color:#f8f9fa">
                    <td>@pizza.Name</td>
                    <td>@pizza.ShortDescription</td>
                    <td>@pizza.Price RSD</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Pizza" asp-action="PizzaEditor">Izmeni</a>
                        <a class="btn btn-danger" asp-controller="Pizza" asp-action="RemoveUserPizza">Obrisi</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>