@using PizzaShop.ViewModels
@model PizzaManagerViewModel

<h3 class="d-flex justify-content-center mt-5">Izmenite @Model.Name</h3>

<form asp-controller="Pizza" asp-action="EditPizza" asp-route-id="@Model.ID" method="post" role="form">
    <h4 class="my-5">
        Unesite neke od ponudjenih sastojaka
    </h4>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.AllowedIngredients)
    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Ingredients" class="form-label"></label>
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <p>
                @Model.AllowedIngredients
            </p>

            <div class="mt-3">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" class="btn btn-secondary" value="Potvrdi izmene" />
                </div>
            </div>
        </div>
    </div>
</form>