@using PizzaShop.ViewModels
@model UserPizzaViewModel

<h3 class="d-flex justify-content-center mt-5">Kreirajte vasu sopstvenu pizzu!</h3>

<form asp-controller="User" asp-action="CreatePizza" method="post" role="form">
    <div class="col-6">

    </div>
</form>