<div>
    <a asp-controller="Home" asp-action="Test">Strana ne postoji</a>
    <a asp-controller="Home" asp-action="TestAction" asp-route-id="1">Custom Greska</a>
    <a asp-controller="Home" asp-action="TestAction" asp-route-id="2">Greska 500</a>
</div>
